
<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<title>MBS investment company</title>
<meta content="" name="description">
<meta content="" name="keywords">

<!-- Favicons -->
<link href="/img/IMG_4553.png" rel="icon">


<!-- Google Fonts -->
<link
  href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
  rel="stylesheet">


<!-- Vendor CSS Files -->
<link href="/vendor/aos/aos.css" rel="stylesheet">
<link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
<link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
<link href="/vendor/remixicon/remixicon.css" rel="stylesheet">
<link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">


<!-- Template Main CSS File -->
<link href="/css/style.css" rel="stylesheet">

<!-- =======================================================
  * Template Name: Presento
  * Updated: Jun 14 2023 with Bootstrap v5.3.0
  * Template URL: https://bootstrapmade.com/presento-bootstrap-corporate-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>
 <!-- ======= Header ======= -->
 <header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    {{--  <h1 class="logo me-auto"><a href="/">MBS-Invest<span></span></a></h1>  --}}
    <!-- Uncomment below if you prefer to use an image logo -->
    <a href="/" class="logo me-auto"><img src="./public/img/IMG_4553.png" alt=""></a>

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>
        <li><a class="nav-link scrollto active" href="#hero">Bosh menyu</a></li>
        <li><a class="nav-link scrollto" href="#about">Haqida </a></li>
        <li><a class="nav-link scrollto" href="#pricing">Narxlar</a></li>
        <li><a class="nav-link scrollto" href="#team">Darslar</a></li>
        <li><a class="nav-link scrollto" href="#contact">Bog'lanish</a></li>
        <li><a class="nav-link scrollto" href="/MBS-admin"></a></li>
      </ul>
      <i class="bi bi-list mobile-nav-toggle"></i>
    </nav><!-- .navbar -->

    <a href="#contact" class="get-started-btn scrollto">Boshlash</a>
  </div>
</header><!-- End Header -->
<body>
  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <div class="row">
        <div class="col-xl-6">
          <h1>MBS bilan yaxshiroq !</h1>
          <h2>Biz bo'lajak millionerlarga ko'mak beradigan jamoamiz</h2>
          <a href="#about" class="btn-get-started scrollto">Boshlash</a>
        </div>
      </div>
    </div>

  </section><!-- End Hero -->
  <main id="main">

    <!-- ======= Clients Section ======= -->
    <section id="clients" class="clients">
      <div class="container" data-aos="zoom-in">
      </div>
    </section><!-- End Clients Section -->

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
      <div class="container" data-aos="fade-up">

        <div class="row no-gutters">
          <div class="content col-xl-5 d-flex align-items-stretch">
            <div class="content">
              <h3>Kurslarimizda siz nima olasiz?</h3>
              <p>Bo'lmasa unda tanishib chiqing !!!</p>
              <a href="#" class="about-btn"><span>Narxlar</span> <i class="bx bx-chevron-right"></i></a>
            </div>
          </div>
          <div class="col-xl-7 d-flex align-items-stretch">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="100">
                  <i class="bx bx-receipt"></i>
                  <h4>Bizda MBS x kurslarimiz mavjud</h4>
                  <p>MBS x kursni kimga tavsiya qilamiz ?
                    2-3 yildan buyon shu sohani ichida yurgan lekin daromadga chiqa olmayotganlar uchun tavsiya qilamiz.
                  </p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="200">
                  <i class="bx bx-cube-alt"></i>
                  <h4>MBS jamoasiga qo'shilish</h4>
                  <p>Jamoaga qo'shilish uchun MBS kursida o'qish kerak, yokida 3yillik statement bo'lishi lozim.</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="300">
                  <i class="bi bi-camera-video"></i>
                  <h4>MBS bepul darsliklari</h4>
                  <p>Kursni bu yerdan yuklab olishingiz mumkin</p>
                </div>
                <div class="col-md-6 icon-box" data-aos="fade-up" data-aos-delay="400">
                  <i class="bx bx-shield"></i>
                  <h4>Qoldirildi</h4>
                  <p>....</p>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End About Section -->


    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Narxlar</h2>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="fade-up" data-aos-delay="100">
              <h3>Signal pro</h3>
              <h4><sup>$</sup>50<span> / oyiga</span></h4>
              <ul>
                <li>1000 punkt garant</li>
                <li>Kuniga 2-3 ta signal</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://t.me/Mbs7000" class="btn-buy">Sotib olish</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="fade-up" data-aos-delay="200">
              <h3>Video Pro</h3>
              <h4><sup>$</sup>200<span> / To'liq kurs</span></h4>
              <ul>
                <i>Bepul darsliklarni 2-qismi</i>
                <li>Daromadga chiqolme turganlarga tavsiya qilamiz</li>
                <li>Video pro da bo'lish sizga nima beradi?</li>
                <li>MBS companyasida qanaqangi yangi strategiya tashlab boriladi</li>
                <li>Bir martalik tolov bilan doimiy mijozga aylanasiz </li>
              </ul>
              <div class="btn-wrap">
                <a href="https://t.me/Mbs7000" class="btn-buy">Sotib olish</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="fade-up" data-aos-delay="300">
              <h3>MBS X kurs</h3>
              <h4><sup>$</sup>1000$<span> / To'liq kurs</span></h4>
              <ul>
                <li>Birmartalik tolov qilasiz MBS X kursimizda 0 dan boshlab 90% strategiya savdo g'oyalarini va psixologiya yangilik bilan ishlash. </li>
                <li>Kursdan keyin bemalol o'ziz erkin savdo qilasz</li>
                <li>MBS investment companiyasi sizni 1yil mobaynida qo'llab quvvatlaydi</li>
                <li>Signal pro oyiga 50$ 6 oyga bepul qo'shadi</li>
              </ul>
              <div class="btn-wrap">
                <a href="https://t.me/Mbs7000" class="btn-buy">Sotib olish</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up"> 

          <div class="section-title">
          <h2>Video dars</h2>
          
          <div class="row"> 
            
          <video controls autoplay>
            <source src="" type="video/mp4" >
          </video>
        
       </div>
      </div>
     </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Kontakt</h2>
        </div>

        <div class="row" data-aos="fade-up" data-aos-delay="100">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Bizning manzilimiz</h3>
                  <p>Qo'qon shahar</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-envelope"></i>
                  <h3>Email Us</h3>
                  <p>mansurxonumarov200<br>@gmail.com</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box mt-4">
                  <i class="bx bx-phone-call"></i>
                  <h3>Telefon raqamlar</h3>
                  <p>+998938457000</p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6">
            <form action="/MBS-admin" method="POST" role="form" class="php-email-form">
              <div class="row">
                <div class="col form-group">
                  <input type="text" name="ism" class="form-control" id="ism" placeholder="ism" required>
                </div>
                <div class="col form-group">
                  <input type="phone" class="form-control" name="raqam" id="raqam" placeholder="Raqam" required>
                </div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="xabar" rows="5" placeholder="Xabar" required></textarea>
              </div>
              <div class="my-3">
                <div class="loading">Kuting</div>
                <div class="error-message">Xato</div>
                <div class="sent-message">Sizning xabaringiz yuborildi. Rahmat!</div>
              </div>
              <div class="text-center"><button type="submit">Xabar yuborish</button></div>
            </form>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="container d-md-flex py-4">

      <div class="me-md-auto text-center text-md-start">
        <div class="copyright">
         <a href="/MBS-admin">&copy; Copyright</a>  <strong><span>MBS </span></strong>Barcha huquqlar himoyalangan
        </div>
        
        <div class="credits">
          <!-- All the links in the footer should remain intact. -->
          <!-- You can delete the links only if you purchased the pro version. -->
          <!-- Licensing information: https://bootstrapmade.com/license/ -->
          <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/presento-bootstrap-corporate-template/ -->
          Designed by DevCoin</a>
        </div>
      </div>
      <div class="social-links text-center text-md-end pt-3 pt-md-0">
        <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
        <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
        <a href="https://instagram.com/mbs.investment?igshid=MzRlODBiNWFlZA==" class="instagram"><i class="bx bxl-instagram"></i></a>
        <a href="https://t.me/mbsdarslik" class="telegram"><i class="bi bi-telegram"></i></a>
      </div>
    </div>
  </footer><!-- End Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="/vendor/aos/aos.js"></script>
  <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/vendor/swiper/swiper-bundle.min.js"></script>

  <!-- Template Main JS File -->
  <script src="/js/main.js"></script>

</body>
</html>

